/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define _DEF 0
#define _NUM 1
#define _SYM 2
#define _NAV 3

&mt {
        tapping-term-ms = <200>;
        quick-tap-ms = <200>;
};

&lt {
        tapping-term-ms = <150>;
        quick-tap-ms = <0>;
};

/ {
keymap {
        compatible = "zmk,keymap";
        default_layer {                      					  
                bindings = <
                        // ----------------------------------------------------------------------------------------------------------------------------
                        // |  ----------   -----   -----   -----   -----   -----                     -----   -----   -----   -----   -----   -------  |
                        // | | ALT TAB  | |  Q  | |  W  | |  E  | |  R  | |  T  |                   |  Y  | |  U  | |  I  | |  O  | |  P  | |  BCK  | |
                        // |  ----------   -----   -----   -----   -----   -----                     -----   -----   -----   -----   -----   -------  |
                        // |  ----------   -----   -----   -----   -----   -----                     -----   -----   -----   -----   -----   -------  |
                        // | | CTRL ESC | |  A  | |  S  | |  D  | |  F  | |  G  |                   |  H  | |  J  | |  K  | |  L  | |  :  | |   '   | |
                        // |  ----------   -----   -----   -----   -----   -----                     -----   -----   -----   -----   -----   -------  |
                        // |  ----------   -----   -----   -----   -----   -----                     -----   -----   -----   -----   -----   -------  |
                        // | |  LSHFT   | |  Z  | |  X  | |  C  | |  V  | |  B  |                   |  N  | |  M  | |  ,  | |  .  | |  /  | | RSHFT | |
                        // |  ----------   -----   -----   -----   -----   -----                     -----   -----   -----   -----   -----   -------  |
                        // |                                ----------   ----------     -----     -------   ---------                                 |
                        // |                               | _NUM DEL | | _NAV ENT |   | GUI |   | SPACE | | _SYM DEL|                                |
                        // |                                ----------   ----------     -----     -------   ---------                                 |
                        // ----------------------------------------------------------------------------------------------------------------------------

                        &mt LALT TAB     &kp Q   &kp W   &kp E      &kp R    &kp T                &kp Y       &kp U      &kp I       &kp O     &kp P      &kp BACKSPACE
                        &mt LCTRL ESC    &kp A   &kp S   &kp D      &kp F    &kp G                &kp H       &kp J      &kp K       &kp L     &kp SEMI   &kp APOSTROPHE
                        &kp LSHFT        &kp Z   &kp X   &kp C      &kp V    &kp B                &kp N       &kp M      &kp COMMA   &kp DOT   &kp FSLH   &kp RSHIFT  
                                                 &lt _NUM DEL       &lt _NAV ENTER   &kp LGUI     &kp SPACE   &lt _SYM DEL
                        >;
                };

        number_layer {
		bindings = < 
                        // ----------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | | GRAVE | |  1  | |  2  | |  3  | |  4  | |  5  |                |  6  | |  7  | |  8  | |  9  | |  0  | |  BCK  | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |  DEL  | |  -  | |  +  | |  [  | |  ]  | |  |  |                |     | |  4  | |  5  | |  6  | |     | |       | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |   [   | |     | |     | |     | |     | |     |                |     | |  1  | |  2  | |  3  | |  \  | |   ]   | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // |                                   |     | |     |     |    |     | SPC | |  0  |                                   |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // ----------------------------------------------------------------------------------------------------------------------

                        &kp GRAVE    &kp N1      &kp N2     &kp N3     &kp N4     &kp N5               &kp N6   &kp N7   &kp N8   &kp N9   &kp N0    &trans
                        &kp DELETE   &kp MINUS   &kp PLUS   &kp LBKT   &kp RBKT   &kp PIPE             &none    &kp N4   &kp N5   &kp N6   &none     &none
                        &kp LBKT     &none       &none      &none      &none      &none                &none    &kp N1   &kp N2   &kp N3   &kp BSLH  &kp RBKT      
                                                                          &none      &none       &none    &trans   &kp N0
                        >;         
                };

        symbol_layer {
		bindings = < 
                        // ----------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |   ~   | |  !  | |  @  | |  #  | |  #  | |  $  |                |  ^  | |  &  | |  *  | |  (  | |  )  | |  BCK  | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |  DEL  | |  _  | |  =  | |  {  | |  }  | |  |  |                |     | |  -  | |  =  | |  {  | |  }  | |       | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |   {   | |     | |     | |  ( | |   )  | |     |                |     | |  _  | |  +  | |  [  | |  ]  | |   }   | |
                        // |  -------   -----   -----   -----   -----   -----       ----       -----   -----   -----   -----   -----   -------  |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // |                                   |     | |     |     |CAPS|     | SPC | |     |                                   |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // ----------------------------------------------------------------------------------------------------------------------
                        
                        &kp TILDE    &kp EXCL    &kp AT      &kp HASH   &kp DLLR   &kp PRCNT            &kp CARET   &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &trans
                        &kp DELETE   &kp UNDER   &kp EQUAL   &kp LBRC   &kp RBRC   &kp PIPE             &none       &kp MINUS  &kp EQUAL  &kp LBRC   &kp RBRC   &none
                        &kp LBRC     &none       &none       &kp LPAR   &kp RPAR   &none                &none       &kp UNDER  &kp PLUS   &kp LBKT   &kp RBKT   &kp RBRC      
                                                                        &none      &none      &caps_word  &trans      &none 
                        >;         
                };

        navigation_layer {
		bindings = < 
                        // ------------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   -----   -----   -----   -------  |
                        // | | BOOT  | | F1  | | F2  | | F3  | | F4  | | BT0 |                | VOLUP | |PG_UP| | UP  | |LTAB | |RTAB | |  BCK  | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   -----   -----   -----   -------  |
                        // | | LCTRL | | F5  | | F6  | | F7  | | F8  | | BT1 |                | HOME  | |LEFT | |DOWN | |RIGHT| | END | |  BT3  | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   -----   -----   -----   -------  |
                        // | | LSHFT | | F9  | | F10 | | F1l | | F12 | | BT2 |                |VOLDOWN| |PG_DN| |     | |     | |     | | RSHFT | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   -----   -----   -----   -------  |
                        // |                                    -----   -----      ------      -----   -----                                      |
                        // |                                   |BT_CR| |     |    | MUTE |    | SPC | |     |                                     |
                        // |                                    -----   -----      ------      -----   -----                                      |
                        // ------------------------------------------------------------------------------------------------------------------------ 
                        
                        &bootloader  &kp F1   &kp F2    &kp F3    &kp F4    &bt BT_SEL 0              &kp C_VOL_UP  &kp PG_UP   &kp UP     &kp LS(LG(LEFT))  &kp LS(LG(RIGHT))  &trans
                        &kp LCTRL    &kp F5   &kp F6    &kp F7    &kp F8    &bt BT_SEL 1              &kp HOME      &kp LEFT    &kp DOWN   &kp RIGHT         &kp END            &bt BT_SEL 3
                        &kp LSHFT        &kp F9   &kp F10   &kp F11   &kp F12   &bt BT_SEL 2              &kp C_VOL_DN  &kp PG_DN   &none      &none             &none              &kp RSHIFT
                                                                  &bt BT_CLR     &none     &kp C_MUTE    &trans     &none
                        >;
                };
};
};
