/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _DEF 0
#define _MED 1
#define _NAV 2
#define _SYM 3
#define _NUM 4
#define _FUN 5

&mt {
        tapping-term-ms = <200>;
        quick-tap-ms = <200>;
};

&lt {
        tapping-term-ms = <150>;
        quick-tap-ms = <0>;
};

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LSHIFT_CAPS_WORD";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&caps_word>;
                };
        };
macros {
	ZMK_MACRO(cut,
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp Z &kp M &kp K>;
        )
        };
keymap {
        compatible = "zmk,keymap";
        default_layer {                      					  
                bindings = <
			// -------------------------------------------------------------------------------------------------------------------------
                        // |  ---------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------   |
                        // | | OSM ALT | |  Q  | |  W  | |  F  | |  P  | |  G  |                |  J  | |  L  | |  U  | |  Y  | |  ;  | |  BCK  |  |
                        // |  ---------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------   |
                        // |  ---------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------   |
                        // | | OSM CTL | |  A  | |  R  | |  S  | |  T  | |  D  |                |  H  | |  N  | |  E  | |  I  | |  O  | |   '   |  |
                        // |  ---------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------   |
                        // |  ---------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------   |
                        // | |SHFTCAPS | |  Z  | |  X  | |  C  | |  V  | |  B  |                |  K  | |  M  | |  ,  | |  .  | |  /  | | RSHFT |  |
                        // |  ---------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------   |
                        // |                                --------   --------     --------     ---------   --------                              |
                        // |                               |_MED/ESC| |_NAV/SPC|   |_SYM/ENT|   |_NUM/BSPC| |_FUN/DEL|                             |
                        // |                                --------   --------     --------     ---------   --------                              |
                        // -------------------------------------------------------------------------------------------------------------------------

                        &sk LALT    &kp Q   &kp W   &kp F   &kp P          &kp G                             &kp J       &kp L          &kp U       &kp Y     &kp SEMI   &sk LGUI
                        &sk LCTRL   &kp A   &kp R   &kp S   &kp T          &kp D                             &kp H       &kp N          &kp E       &kp I     &kp O      &kp APOSTROPHE
                        &td0        &kp Z   &kp X   &kp C   &kp V          &kp B                             &kp K       &kp M          &kp COMMA   &kp DOT   &kp FSLH   &kp RSHIFT
                                                            &lt _MED ESC   &lt _NAV SPACE   &lt _SYM ENTER   &lt _NUM BSPC   &lt _FUN DEL
                        >;
                };
        media_layer {
                bindings = <
                        // ------------------------------------------------------------------------------------------------------------------
                        // |  -----   -----   -----   -----   -----   -----               -----   ------   ------   ------   -----   -----  |
                        // | | N/A | | N/A | | N/A | | N/A | | N/A | | N/A |             | N/A | | N/A  | | VOLU | | N/A  | | N/A | | N/A | |
                        // |  -----   -----   -----   -----   -----   -----               -----   ------   ------   ------   -----   -----  |
                        // |  -----   -----   -----   -----   -----   -----               -----   ------   ------   ------   -----   -----  |
                        // | | N/A | | N/A | | N/A | | N/A | | N/A | | N/A |             | N/A | | PREV | | VOLD | | NEXT | | N/A | | N/A | |
                        // |  -----   -----   -----   -----   -----   -----               -----   -----   -------   ------   -----   -----  |
                        // |  -----   -----   -----   -----   -----   -----               -----   ------   ------   ------   -----   -----  |
                        // | | N/A | | N/A | | N/A | | N/A | | N/A | | N/A |             | N/A | | N/A  | | N/A  | | N/A  | | N/A | | N/A | |
                        // |  -----   -----   -----   -----   -----   -----               -----   ------   ------   ------   -----   -----  |
                        // |                                 ------   -----     -----     ------------   ------                             |
                        // |                                | TRNS | | N/A |   | N/A |   | PLAY/PAUSE | | MUTE |                            |
                        // |                                 ------   -----     -----     ------------   ------                             |
                        // ------------------------------------------------------------------------------------------------------------------

                        &none   &none   &none   &none   &none    &none           &none   &none        &kp C_VOL_UP   &none        &none   &none
                        &none   &none   &none   &none   &none    &none           &none   &kp C_PREV   &kp C_VOL_DN   &kp C_NEXT   &none   &none
                        &none   &none   &none   &none   &none    &none           &none   &none        &none          &none        &none   &none
                                                        &trans   &none   &none   &kp C_PP   &kp C_MUTE
                        >;
                };
        navigation_layer {
		bindings = < 
                        // -----------------------------------------------------------------------------------------------------------------
                        // |  -----   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -----  |
                        // | | N/A | | N/A | | N/A | | N/A | | N/A | | N/A |               | CUT | |COPY | | UP  | |PASTE| |REDO | |UNDO | |
                        // |  -----   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -----  |
                        // |  -----   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -----  |
                        // | |LCTRL| | N/A | | N/A | | N/A | | N/A | | N/A |               |CAPS | |LEFT | |DOWN | |RIGHT| | N/A | | N/A | |
                        // |  -----   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -----  |
                        // |  -----   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -----  |
                        // | |LSHFT| | N/A | | N/A | | N/A | | N/A | | N/A |               |INSRT| |HOME | |PGDWN| |PGUP | | END | | N/A | |
                        // |  -----   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -----  |
                        // |                                 -----   ------     -------     ------   -----                                 |
                        // |                                | N/A | | TRNS |   | ENTER |   | BSPC | | DEL |                                |
                        // |                                 -----   ------     -------     ------   -----                                 |
                        // -----------------------------------------------------------------------------------------------------------------

                        &none       &none   &none   &none   &none   &none                &none      &none      &kp UP      &none       &none     &none
                        &kp LCTRL   &none   &none   &none   &none   &none                &kp CAPS   &kp LEFT   &kp DOWN    &kp RIGHT   &none     &none
                        &kp LSHFT   &none   &none   &none   &none   &none                &kp INS    &kp HOME   &kp PG_DN   &kp PG_UP   &kp END   &none   
                                                            &none   &trans   &kp ENTER   &kp BSPC   &kp DEL
                        >;
                };

        symbol_layer {
		bindings = < 
                        // ----------------------------------------------------------------------------------------------------------------
                        // |  -----   -----   -----   -----   -----   -----                -----   -----   -----   -----   -----   -----  |
                        // | |  ~  | |  {  | |  &  | |  *  | |  (  | |  }  |              | N/A | | N/A | | N/A | | N/A | | N/A | | N/A | |
                        // |  -----   -----   -----   -----   -----   -----                -----   -----   -----   -----   -----   -----  |
                        // |  -----   -----   -----   -----   -----   -----                -----   -----   -----   -----   -----   -----  |
                        // | | N/A | |  _  | |  $  | |  %  | |  ^  | |  +  |              | N/A | | N/A | | N/A | | N/A | | N/A | | N/A | |
                        // |  -----   -----   -----   -----   -----   -----                -----   -----   -----   -----   -----   -----  |
                        // |  -----   -----   -----   -----   -----   -----                -----   -----   -----   -----   -----   -----  |
                        // | | N/A | | N/A | |  !  | |  @  | |  #  | |  |  |              | N/A | | N/A | | N/A | | N/A | | N/A | | N/A | |
                        // |  -----   -----   -----   -----   -----   -----                -----   -----   -----   -----   -----   -----  |
                        // |                                  -----   -----     ------     -----   -----                                  |
                        // |                                 |  (  | |  )  |   | TRNS |   | N/A | | N/A |                                 |
                        // |                                  -----   -----     ------     -----   -----                                  |
                        // ----------------------------------------------------------------------------------------------------------------
                        
                        &kp TILDE   &kp LBRC    &kp AMPS   &kp STAR    &kp LPAR    &kp RBRC            &none   &none   &none   &none   &none   &none
                        &none       &kp UNDER   &kp DLLR   &kp PRCNT   &kp CARET   &kp PLUS            &none   &none   &none   &none   &none   &none
                        &none       &none       &kp EXCL   &kp AT      &kp HASH    &kp PIPE            &none   &none   &none   &none   &none   &none
                                                                       &kp LPAR    &kp RPAR   &trans   &none   &none 
                        >;         
                };

        number_layer {
		bindings = < 
                        // -----------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // | | BOOT  | | F1  | | F2  | | F3  | | F4  | | BT0 |                | VOLUP | |PG_UP| |  UP  | |LTAB | |RTAB | | BCK | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // | | LCTRL | | F5  | | F6  | | F7  | | F8  | | BT1 |                | HOME  | |LEFT | | DOWN | |RIGHT| | END | | BT3 | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // | | LSHFT | | F9  | | F10 | | F1l | | F12 | | BT2 |                |VOLDOWN| |PG_DN| |KENOBI| |BACK | |FRWRD| | BT4 | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // |                                    -----   -----      ------      -------   -----                                   |
                        // |                                   |BT_CR| | LYR |    | MUTE |    |  SPC  | | DEL |                                  |
                        // |                                    -----   -----      ------      -------   -----                                   |
                        // ----------------------------------------------------------------------------------------------------------------------- 
                        
                        &bootloader   &kp F1   &kp F2    &kp F3    &kp F4       &bt BT_SEL 0                &kp C_VOL_UP   &kp PG_UP   &kp UP     &kp LS(LG(LEFT))   &kp LS(LG(RIGHT))   &trans
                        &kp LCTRL     &kp F5   &kp F6    &kp F7    &kp F8       &bt BT_SEL 1                &kp HOME       &kp LEFT    &kp DOWN   &kp RIGHT          &kp END             &bt BT_SEL 3
                        &kp LSHFT     &kp F9   &kp F10   &kp F11   &kp F12      &bt BT_SEL 2                &kp C_VOL_DN   &kp PG_DN   &m0        &kp LG(LBKT)       &kp LG(RBKT)        &bt BT_SEL 4
                                                                   &bt BT_CLR   &none          &kp C_MUTE   &trans         &kp DEL
                        >;
                };
		
	fun_layer {
		bindings = < 
                        // -----------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // | | BOOT  | | F1  | | F2  | | F3  | | F4  | | BT0 |                | VOLUP | |PG_UP| |  UP  | |LTAB | |RTAB | | BCK | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // | | LCTRL | | F5  | | F6  | | F7  | | F8  | | BT1 |                | HOME  | |LEFT | | DOWN | |RIGHT| | END | | BT3 | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // | | LSHFT | | F9  | | F10 | | F1l | | F12 | | BT2 |                |VOLDOWN| |PG_DN| |KENOBI| |BACK | |FRWRD| | BT4 | |
                        // |  -------   -----   -----   -----   -----   -----                  -------   -----   ------   -----   -----   -----  |
                        // |                                    -----   -----      ------      -------   -----                                   |
                        // |                                   |BT_CR| | LYR |    | MUTE |    |  SPC  | | DEL |                                  |
                        // |                                    -----   -----      ------      -------   -----                                   |
                        // ----------------------------------------------------------------------------------------------------------------------- 
                        
                        &bootloader   &kp F1   &kp F2    &kp F3    &kp F4       &bt BT_SEL 0                &kp C_VOL_UP   &kp PG_UP   &kp UP     &kp LS(LG(LEFT))   &kp LS(LG(RIGHT))   &trans
                        &kp LCTRL     &kp F5   &kp F6    &kp F7    &kp F8       &bt BT_SEL 1                &kp HOME       &kp LEFT    &kp DOWN   &kp RIGHT          &kp END             &bt BT_SEL 3
                        &kp LSHFT     &kp F9   &kp F10   &kp F11   &kp F12      &bt BT_SEL 2                &kp C_VOL_DN   &kp PG_DN   &none      &kp LG(LBKT)       &kp LG(RBKT)        &bt BT_SEL 4
                                                                   &bt BT_CLR   &none          &kp C_MUTE   &trans         &kp DEL
                        >;
                };
};
};
